<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cobot_trial2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>   
            </hardware>
            <joint name="base_revolve">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_revolve']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <static>true</static>
            </joint>
            <joint name="link1_revolve">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_revolve']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2_revolve">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2_revolve']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link3_revolve">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link3_revolve']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link4_revolve">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link4_revolve']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
